.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*h2 {*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*    color: #333;*/
/*}*/

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 12px; /* Increased padding */
    margin-bottom: 20px; /* Adjusted margin-bottom */
    border: 1px solid #55a049; /* Changed border color and thickness */
    border-radius: 8px; /* Adjusted border radius */
    font-size: 18px; /* Increased font size */
    color: #333; /* Text color */
}


button {
    background-color: #55a049;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;

    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-top: 10px;
}


button:hover {
    background-color: #36652e;
}

